<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sycord for Developers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    {% if current_user.is_authenticated %}
        <div class="welcome-container">
            <h1>Welcome, {{ current_user.username }}</h1>
            <div class="actions">
                <a href="{{ url_for('dashboard') }}" class="button">Go to Dashboard</a>
                <a href="{{ url_for('logout') }}" class="button button-secondary">Logout</a>
            </div>
        </div>
    {% else %}
        <div id="sycord-title" class="sycord-title-center">
            <h1>Sycord</h1>
        </div>
        <div id="login-container">
             <a id="login-button" href="{{ url_for('login') }}" class="button login-button">Login with Discord</a>
        </div>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const userIsAuthenticated = {{ current_user.is_authenticated|tojson }};
            if (!userIsAuthenticated) {
                setTimeout(() => {
                    const title = document.getElementById('sycord-title');
                    const loginButton = document.getElementById('login-button');
                    title.classList.add('sycord-title-top');
                    loginButton.classList.add('login-button-visible');
                }, 1500); // Animation starts after 1.5 seconds
            }
        });
    </script>
</body>
</html>
